/* KoreaMap.module.css */
.mapContainer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
  
  .koreaMap {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .region {
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    fill-opacity: 0.9;
    cursor: pointer;
  }
  
  .island {
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 0.5;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .region:hover, .island:hover {
    filter: brightness(1.15);
    cursor: pointer;
    transform: translateY(-2px);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.15));
    fill-opacity: 1;
  }
  
  .selected {
    stroke: #444;
    stroke-width: 2;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.25));
    fill-opacity: 1;
  }
  
  
/* 각 지역별 색상 - 더 부드럽고 투명도 있는 파스텔 색상으로 수정 */
.seoul { fill: rgba(243, 129, 129, 1); }        /* 밝은 황토색 - 투명도 적용  특별시 */ 
.incheon { fill: rgba(252, 227, 138, 1); }      /* 파우더 블루 - 투명도 적용 광역시 */
.gyeonggi { fill: rgba(149, 225, 211, 1); }     /* 라벤더 - 투명도 적용 */
.gangwon { fill: rgba(149, 225, 211, 1); }      /* 밝은 골든로드 - 투명도 적용 */
.chungbuk { fill: rgba(149, 225, 211, 1); }     /* 연한 녹색 - 투명도 적용 */
.chungnam { fill: rgba(149, 225, 211, 1); }     /* 밝은 하늘색 - 투명도 적용 */
.daejeon { fill: rgba(252, 227, 138, 1); }      /* 자두색 - 투명도 적용 광역시 */
.sejong { fill: rgba(234, 255, 208, 1); }       /* 카키 - 투명도 적용 특별자치시 */
.jeonbuk { fill: rgba(149, 225, 211, 1); }      /* 밝은 강철색 - 투명도 적용 */
.gwangju { fill: rgba(252, 227, 138, 1); }      /* 엉겅퀴 - 투명도 적용 광역시 */
.jeonnam { fill: rgba(149, 225, 211, 1); }      /* 연한 산호색 - 투명도 적용 */
.gyeongbuk { fill: rgba(149, 225, 211, 1); }    /* 민트 - 투명도 적용 */
.daegu { fill: rgba(252, 227, 138, 1); }        /* 허니듀 - 투명도 적용 광역시 */
.gyeongnam { fill: rgba(149, 225, 211, 1); }    /* 파스텔 핑크 - 투명도 적용 */
.ulsan { fill: rgba(252, 227, 138, 1); }        /* 연한 회색 - 투명도 적용 광역시 */
.busan { fill: rgba(252, 227, 138, 1); }        /* 밝은 핑크 - 투명도 적용 광역시 */
.jeju { fill: rgba(234, 255, 208, 1); }         /* 밀 - 투명도 적용 특별자치시 */
  
  @keyframes pulse {
    0% { r: 1; opacity: 0.8; }
    50% { r: 2; opacity: 1; }
    100% { r: 1; opacity: 0.8; }
  }
  

  /* 미디어 쿼리 */
  @media (max-width: 600px) {
    .regionLabel {
      font-size: 0; /* 모바일에서는 라벨 숨김 */
    }
    
    .islandLabel {
      font-size: 6px;
    }
    
    .countryLabel {
      font-size: 10px;
    }
    
    .mapContainer {
      box-shadow: none;
      padding: 0;
    }
    
    .region:hover, .island:hover {
      transform: none; /* 모바일에서는 호버 애니메이션 제거 */
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .regionLabel {
      font-size: 8px;
    }
    
    .mapContainer {
      padding: 0;
    }
  }

/* 지도 컨테이너 */
.mapSection {
  width: 100%;
  max-width: 1024px;
  height: 1100px;
  aspect-ratio: 1;
  margin: 0 auto;
  position: relative;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 40px;
}

.mapTitle {
  position: relative;
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

/* 미디어 쿼리 */
@media (max-width: 600px) {
  .regionLabel {
    font-size: 0;
  }
  
  .islandLabel {
    font-size: 6px;
  }
  
  .countryLabel {
    font-size: 10px;
  }
  
  .mapContainer {
    box-shadow: none;
    padding: 0;
  }
  
  .region:hover, .island:hover {
    transform: none;
  }

  .mapSection {
    height: 550px;
    padding: 20px;
  }

  .mapTitle {
    font-size: 1.5rem;
    margin: 20px 0;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .regionLabel {
    font-size: 8px;
  }
  
  .mapContainer {
    padding: 0;
  }
}